.navigation-bar {
  background-color: black;
  //color: azure;
  justify-content: space-between;
  .nav-button {
    color: azure;
  }
  .example-spacer {
    flex: 1 1 auto;
  }
}

.button-ex :hover{
  background-color: azure;
  color: black;
  cursor: pointer;

  .mat-icon{
    //background-color: black;
    //color: black;
  }
}


.btn-menu-collapse {
  display: none;
}


.left-section {
    display: flex;
    justify-content: flex-start;
  }
  .center-section {
    display: flex;
    justify-content: center;
    width: fit-content;
    align-content: center;
    flex-wrap: wrap;
  }
  .right-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

@media (max-width: 768px) {
  .btn-menu-collapse {
    display: flex;
    justify-self: start;
    align-items: center;
  }

  .btn-menu-collapse:hover {
    cursor: pointer;
  }

  .center-section {
    display: none;
  }
}

