<mat-toolbar class="navigation-bar navbar navbar-expand-md navbar-dark  col-sm-12">

  <!-- <div class="navbar-container"> -->
    <div class="left-section align-left">
      <!-- Collapse menu on sm -->
      <mat-button class="btn-menu-collapse" [matMenuTriggerFor]="menuCollapse">
        <mat-icon>menu</mat-icon>
      </mat-button>

      <mat-menu #menuCollapse="matMenu">
        <button mat-menu-item>Homepage</button>
        <button mat-menu-item>Prices</button>
        <button mat-menu-item>Blog</button>
        <button mat-menu-item>Contact</button>
      </mat-menu>

      <a href="">
        <img href="" src="assets/img/avatar/logo.png" width="50" height="45" />
      </a>
    </div>

    <div class="center-section align-center">
      <div class="button-ex">
        <button mat-button class="nav-button mat-button button-ex">
          <mat-icon>home</mat-icon>Homepage
        </button>
      </div>

      <div class="button-ex">
        <button mat-button class="nav-button mat-button">
          <mat-icon>attach_money</mat-icon>Prices
        </button>
      </div>

      <div class="button-ex">
        <button mat-button class="nav-button mat-button">
          <mat-icon>chat</mat-icon>Blog
        </button>
      </div>

      <div class="button-ex">
        <button mat-button class="nav-button mat-button">
          <mat-icon>phone</mat-icon>Contact
        </button>
      </div>
    </div>

    <div class="right-section">
      <div>
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
          class="nav-button mat-button"
        >
          <mat-icon>person</mat-icon> User
        </button>
      </div>

      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
        <button mat-menu-item>
          <mat-icon>assignment_ind</mat-icon>
          <span>Sign in</span>
        </button>
      </mat-menu>
    </div>
  <!-- </div> -->
  <!-- <span class="example-spacer"></span> -->
</mat-toolbar>
