<mat-card class="headliner-main">
  <div class="col-sm-12 content-outline">
    <div class="grid-container col-sm-12">
      <div class="row">
        <div class="col-sm-6 text-container">
          <div class="contenedor-titulo">
            <h2>¿Quienes somos?</h2>
          </div>
          <div class="contenedor-parrafo">
            <p>
              Somos un equipo interdisciplinario que tiene como mision el
              transformar la salud preventiva en Chile, mediante una plataforma
              que permita a los trabajadores de ésta área, operar de la mejor
              forma posible.
            </p>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="img-container">
            <img
              draggable="false"
              src="../../../../assets/img/body/group.jpeg"
              alt=""
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="img-container">
            <img
              draggable="false"
              src="../../../../assets/img/body/desk.jpeg"
              alt=""
            />
          </div>
        </div>

        <div class="col-sm-6 text-container">
          <div class="contenedor-titulo-1">
            <h2>¿Qué Hacemos?</h2>
          </div>
          <div class="contenedor-parrafo-1">
            <p>
              Trabajar codo a codo con profesionales de la salud preventiva,
              tales como nutricionistas, psicólogos, kinesiólogos y preparadores
              físicos para crear una plataforma de trabajo cómoda, segura y útil
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="grid-container-mobile">
      <div class="row row-mobile">
        <div class="col-sm-6">
          <div class="card">
            <div class="image-box">
              <img
              draggable="false"
              src="../../../../assets/img/body/group.jpeg"
              alt=""
            />
            </div>
            <div class="content">
              <h2>¿Quienes somos?</h2>
              <p>
                Somos un equipo interdisciplinario que tiene como mision el
                transformar la salud preventiva en Chile, mediante una plataforma
                que permita a los trabajadores de ésta área, operar de la mejor
                forma posible.
              </p>
            </div>
          </div>
        </div>

        
        <div class="col-sm-6">
          <div class="card">
            <div class="image-box">
              <img
              draggable="false"
              src="../../../../assets/img/body/desk.jpeg"
              alt=""
            />
            </div>
            <div class="content">
              <h2>¿Qué Hacemos?</h2>
              <p>
                Trabajar codo a codo con profesionales de la salud preventiva,
                tales como nutricionistas, psicólogos, kinesiólogos y preparadores
                físicos para crear una plataforma de trabajo cómoda, segura y útil
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="container-elegirnos col-sm-12">

      <div class="container-titulo-por-que-elegirnos col-sm-12">
        <h2 class="title">¿Por qué elegirnos?</h2>
      </div>

      <div class="container-text-computer col-sm-12">

        <div class="imagenes-phone-computer col-sm-6">
          <img src="../../../../assets/img/body/foto-computador-phone.png" class="imagen-phone-computer">
        </div>
        <div class="texto-atenciones col-sm-6">
          <h2 class="titulo-atenciones-comodas">Tus atenciones, más cómodas que nunca</h2>
          <p style="color: white;">
            Simplifica la gestión de tus pacientes, mejora el seguimiento de consultas y mantén una comunicación fluida, 
            todo desde una plataforma diseñada para optimizar tu tiempo y brindar una atención de calidad. Transformamos tu
            práctica en una experiencia más eficiente y profesional.
          </p>
        </div>


      </div>


      <div class="container-aminities">
        <div class="left-items" style="margin-right: 15%;">
          <div>
            <img src="../../../../assets/img/body/foto-pacientes.png" class="iconos-amenities">
            <p style="color: white;">Gestión de pacientes</p>
          </div>
          <div>
            <img src="../../../../assets/img/body/foto-consultas.png" class="iconos-amenities">
            <p style="color: white;">Consultas y seguimiento</p>
          </div>
          <div>
            <img src="../../../../assets/img/body/foto-calendar.png" class="iconos-amenities">
            <p style="color: white;">Agenda de citas</p>
          </div>
        </div>
        <div class="right-items">
          <div>
            <img src="../../../../assets/img/body/foto-chat.png" class="iconos-amenities">
            <p style="color: white;">Chat en tiempo real</p>
          </div>
          <div>
            <img src="../../../../assets/img/body/book-nutri.png" class="iconos-amenities">
            <p style="color: white;">Educación Nutricional</p>
          </div>
          <div>
            <img src="../../../../assets/img/body/foto-reportes.png" class="iconos-amenities">
            <p style="color: white;">Reportes Personalizados</p>
          </div>
        </div>
      </div>




    </div>



    <div class="container-elegirnos-mobile col-sm-12">

      <h2 class="title">¿Por qué elegirnos?</h2>

      <div class="container-text-computer col-sm-12">

        <img src="../../../../assets/img/body/foto-computador-phone.png" class="imagen-phone-computer">

        <div class="col-sm-6">
        
          <h2 class="titulo-atenciones-comodas">Tus atenciones, más cómodas que nunca</h2>

          <p style="color: white;">
            Simplifica la gestión de tus pacientes, mejora el seguimiento de consultas y mantén una comunicación fluida, 
            todo desde una plataforma diseñada para optimizar tu tiempo y brindar una atención de calidad. Transformamos tu
            práctica en una experiencia más eficiente y profesional.
          </p>
        
        </div>


      </div>


      <div class="container-aminities">
        <div class="left-items" style="margin-right: 15%;">
          <div>
            <img src="../../../../assets/img/body/foto-pacientes.png" class="iconos-amenities">
            <p style="color: white;">Gestión de pacientes</p>
          </div>
          <div>
            <img src="../../../../assets/img/body/foto-consultas.png" class="iconos-amenities">
            <p style="color: white;">Consultas y seguimiento</p>
          </div>
          <div>
            <img src="../../../../assets/img/body/foto-calendar.png" class="iconos-amenities">
            <p style="color: white;">Agenda de citas</p>
          </div>
        </div>
        <div class="right-items">
          <div>
            <img src="../../../../assets/img/body/foto-chat.png" class="iconos-amenities">
            <p style="color: white;">Chat en tiempo real</p>
          </div>
          <div>
            <img src="../../../../assets/img/body/book-nutri.png" class="iconos-amenities">
            <p style="color: white;">Educación Nutricional</p>
          </div>
          <div>
            <img src="../../../../assets/img/body/foto-reportes.png" class="iconos-amenities">
            <p style="color: white;">Reportes Personalizados</p>
          </div>
        </div>
      </div>




    </div>





  </div>
</mat-card>

<mat-card class="headliner-main">
  <div class="title-proyeccion-outline">
    <div class="title-proyeccion-container">
      <h2 class="title">Proyección</h2>
    </div>
  </div>

  <div class="icon-cards-container row">
    <mat-card class="example-card col-sm-4" appearance="outlined">
      <mat-card-header>
        <mat-card-title>
          <h4>Eficiencia</h4>
        </mat-card-title>
      </mat-card-header>
      <img
        class="card-icon"
        mat-card-image
        src="../../../../../assets/img/body/upgrade-icon.png"
      />
      <mat-card-content>
        <p>
          Optimiza y agiliza los procesos para maximizar la productividad y
          reducir los tiempos muertos, permitiendo a los funcionarios de salud
          preventiva enfocarse más en la atencion al paciente
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card col-sm-4" appearance="outlined">
      <mat-card-header class="titulo-valor-tarjeta">
        <mat-card-title>
          <h4>Valor</h4>
        </mat-card-title>
      </mat-card-header>
      <img
        class="card-icon"
        mat-card-image
        src="../../../../../assets/img/body/idea-icon.png"
      />
      <mat-card-content>
        <p>
          Agrega valor diferenciado a tu servicio, mejorando la experiencia del
          paciente y destacando tus atenciones con una paltaforma que te permita
          agilizar tu trabajo
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="example-card col-sm-4" appearance="outlined">
      <mat-card-header class="titulo-seguridad-tarjeta">
        <mat-card-title>
          <h4>Seguridad</h4>
        </mat-card-title>
      </mat-card-header>
      <img
        class="card-icon"
        mat-card-image
        src="../../../../../assets/img/body/security-icon.png"
      />
      <mat-card-content>
        <p>
          Garantiza el manejo seguro y confidencial de la información sensible
          de tus pacientes, cumpliendo con estandares de privacidad y
          regulaciones
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</mat-card>
