.headliner-main {
    border-radius: 0px;
    padding: 1rem;
    background-color: black;
}

.contenedor-parrafo-1{
    width: 750px;
    height: 130px;
}

.contenedor-parrafo-2{
    width: 675px;
    height: 130px;
}

.example-card {
    max-width: 400px;
}

.mat-mdc-card-header{
    padding-left: 15%;
}

.titulo-seguridad-tarjeta{
    padding-left: 13%;
}

.titulo-valor-tarjeta{
    padding-left: 25%;
}