<mat-card class="headliner-main" style="padding-bottom: 3%;">
    <div style="display: flex; align-items: center; padding-left: 5%; padding-right: 5%;">
        <div style="flex: 1;">
            <div class="contenedor-titulo">
                <h2 style="color: #fff;">¿Quienes somos?</h2>
            </div>
            <div class="contenedor-parrafo-1">
                <p style="color: #fff; font-size: 21px;">Somos un equipo interdisciplinario que tiene como mision el transformar la salud preventiva en Chile, mediante una plataforma que permita a los trabajadores de ésta área, operar de la mejor forma posible.</p>
            </div>
        </div>
        <div>
            <img draggable="false" src="../../../../../assets/img/chavarria-dump/chavarria-1.jpg" alt="">
        </div>
    </div>
    <div style="display: flex; align-items: center; padding-left: 5%; padding-right: 5%; padding-top: 3%;">
        <div style="flex: 1;">
            <img draggable="false" src="../../../../../assets/img/chavarria-dump/memardo-1.jpg" alt="">
        </div>
        <div>
            <div class="contenedor-titulo-1">
                <h2 style="color: #fff;">¿Qué Hacemos?</h2>
            </div>
            <div class="contenedor-parrafo-2">
                <p style="color: #fff; font-size: 21px;">Trabajar codo a codo con profesionales de la salud preventiva, tales como nutricionistas, psicólogos, kinesiólogos y preparadores físicos para crear una plataforma de trabajo cómoda, segura y útil</p>
            </div>
        </div>
    </div>
</mat-card>
<mat-card class="headliner-main">
    <div style="padding-top: 5%; padding-bottom: 5%;">
        <div style="display: flex; justify-content: center;">
            <h2 style="color: #fff; font-size: 60px;">Proyección</h2>
        </div>
    </div>
    <div style="display: flex; justify-content: center; gap: 50px;">
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title style="padding-left: 23%;"><h4>Eficiencia</h4></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../../../assets/img/chavarria-dump/upgrade-icon.png">
            <mat-card-content>
              <p>Optimiza y agiliza los procesos para maximizar la productividad y reducir los tiempos muertos, permitiendo a los funcionarios de salud preventiva enfocarse más en la atencion al paciente</p>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header class="titulo-valor-tarjeta">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title><h4>Valor</h4></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../../../assets/img/chavarria-dump/idea-icon.png" >
            <mat-card-content>
              <p>Agrega valor diferenciado a tu servicio, mejorando la experiencia del paciente y destacando tus atenciones con una paltaforma que te permita agilizar tu trabajo</p>
            </mat-card-content>
          </mat-card>
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header class="titulo-seguridad-tarjeta">
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title style="padding-left: 23%;"><h4>Seguridad</h4></mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../../../../assets/img/chavarria-dump/security-icon.png">
            <mat-card-content>
              <p>Garantiza el manejo seguro y confidencial de la información sensible de tus pacientes, cumpliendo con estandares de privacidad y regulaciones</p>
            </mat-card-content>
          </mat-card>
    </div>
</mat-card>