<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<mat-card class="headliner-main">
  <div class="col-sm-12">
    <br><br><br><br>
    <div class="text-container">
      <div class="row-sm-12">
        <div class="title-container">
          <h1>INSERTAR TÍTULO ACÁ :3</h1>
        </div>
      </div>
      <div class="row-sm-12">
        <div class="subtitle-container">
          <h2>y lo que sigue del título acá</h2>
        </div>
      </div>
      <div class="row-sm-12">
        <div class="paragraph-container">
          <h3>
            Esto es un programa que lorem ipsum etc etce tc etc etc aguante
            huachipato, faker, keznitsadsadsaddeus
          </h3>
        </div>
      </div>
    </div>
    <br><br>
    <div class="button-container col-sm-12">
        <button mat-button class="button-suscribe">
          SUSCRÍBETE
        </button>
    </div>
    <br><br><br>
    <div class="icons-container col-sm-12">
      <img draggable="false" src="assets/img/headline/headline-icons/weight.png" alt="">
      <img draggable="false" src="assets/img/headline/headline-icons/dumbbell.png" alt="">
      <img draggable="false" src="assets/img/headline/headline-icons/aid-kit.png" alt="">
      <img draggable="false" src="assets/img/headline/headline-icons/gear-head.png" alt="">
      <img draggable="false" src="assets/img/headline/headline-icons/map-physiotherapist.png" alt="">
    </div>

    <div class="icons-container-small col-sm-12">
      <img draggable="false" src="assets/img/headline/headline-icons/weight.png" alt="">
      <img draggable="false" src="assets/img/headline/headline-icons/dumbbell.png" alt="">
      <img draggable="false" src="assets/img/headline/headline-icons/aid-kit.png" alt="">
      <img draggable="false" src="assets/img/headline/headline-icons/gear-head.png" alt="">
      <img draggable="false" src="assets/img/headline/headline-icons/map-physiotherapist.png" alt="">
    </div>

  </div>
  <br><br><br>
</mat-card>

