<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>



<mat-card class="headliner-main">
  <div class="row">
    <div class="col-sm-6">
      <mat-card class="headliner-card" appearance="raised">
        <mat-card-header class="card-header">
          <mat-card-title>Headliner example</mat-card-title>
          <mat-card-subtitle>Buff Health proyect</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint
            nesciunt, illum eaque ut repellat nihil impedit deserunt! Est,
            perferendis placeat a fuga, dolores alias illo, libero sed nobis nam
            debitis?
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-sm-6">
      <mat-card class="headliner-card" appearance="raised">
        <mat-card-header class="card-header">
          <mat-card-title>carrousel card title</mat-card-title>
          <mat-card-subtitle>carrousel subtitle</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

          <div id="headliner-carousel" class="carousel slide">
              <!-- indicators -->
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#headliner-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#headliner-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#headliner-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <!-- images -->
              <div class="carousel-item active">
                <img src="/assets/img/headline-carrousel/image1.png" class="d-block w-100" alt="image1">
              </div>

              <div class="carousel-item">
                <img src="/assets/img/headline-carrousel/image2.png" class="d-block w-100" alt="image2">
              </div>

              <div class="carousel-item">
                <img src="/assets/img/headline-carrousel/image3.png" class="d-block w-100" alt="image3">
              </div>
            </div>
              <!-- Directional btns -->
            <button class="carousel-control-prev" type="button" data-bs-target="#headliner-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            
            <button class="carousel-control-next" type="button" data-bs-target="#headliner-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          
        </mat-card-content>

        <mat-card-footer>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</mat-card>





