<mat-card class="headliner-main" style="padding-bottom: 3%; padding-top: 10%;">
    <div style="display: flex; justify-content: space-between; padding-left: 3%; padding-right: 3%; gap: 80px;">
        <div>
            <h3 style="color: #fff;">Déjanos tus datos</h3>
            <form>
              <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 1rem;">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Ingresa tu nombre">
              </mat-form-field>
              
              <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 1rem;">
                <mat-label>Correo</mat-label>
                <input matInput placeholder="Ingresa tu correo" type="email">
              </mat-form-field>
              
              <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 1rem;">
                <mat-label>Teléfono</mat-label>
                <input matInput placeholder="Ingresa tu teléfono" type="tel">
              </mat-form-field>
              
              <mat-form-field appearance="outline" style="width: 100%; margin-bottom: 1rem;">
                <mat-label>Profesión</mat-label>
                <input matInput placeholder="Ingresa tu profesión">
              </mat-form-field>
              
              <div style="display: flex; justify-content: center; margin-top: 1rem;">
                <button mat-raised-button color="primary" class="btn-enviar" type="submit">Enviar</button>
              </div>
            </form>
          </div>
          <div>
            <h3 style="color: #fff;">¿Estas interesado en apoyarnos y/o en estar al tanto de los avances?</h3>
            <p style="color: #fff;">Envíanos tus datos para mantener contacto y así irte informando acerca de los avances y funcionalidad de la plataforma, a la par se va desarrollando.</p>
          </div>
    </div>
  </mat-card>