<mat-card class="headliner-main">
  <div class="contact-container">
    <div id="contacto" class="row">
      
      <form class="col-sm-6 section-1">
        <h3 style="color: #fff">Déjanos tus datos</h3>
        <div class="flex-container">
          <mat-form-field appearance="outline" class="input">
            <!-- <mat-label>Nombre</mat-label> -->
            <input matInput placeholder="Nombre" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="input">
            <!-- <mat-label>Correo</mat-label> -->
            <input matInput placeholder="Correo" type="email" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="input">
            <!-- <mat-label>Teléfono</mat-label> -->
            <input matInput placeholder="Teléfono" type="tel" />
          </mat-form-field>

          <mat-form-field appearance="outline" class="input">
            <!-- <mat-label>Profesión</mat-label> -->
            <input matInput placeholder="Profesión" />
          </mat-form-field>

          <div class="button-container">
            <button
              mat-raised-button
              color="primary"
              class="btn-enviar"
              type="submit"
            >
              Enviar
            </button>
          </div>


        </div>
      </form>

      <div class="text-container col-sm-6 section-2">
        <h3 style="color: #fff">
          ¿Estas interesado en apoyarnos y/o en estar al tanto de los avances?
        </h3>
        <p style="color: #fff">
          Envíanos tus datos para mantener contacto y así irte informando acerca
          de los avances y funcionalidad de la plataforma, a la par se va
          desarrollando.
        </p>
      </div>
    </div>
  </div>
</mat-card>
