<mat-card class="main" style="padding-bottom: 3%; padding-top: 10%;">
    <div class="" style="display: flex; justify-content: space-between; padding-left: 3%; padding-right: 3%; gap: 80px;">
        <div>
            <h4><strong>Buff Health</strong></h4>
            <p>Síguenos</p>
            
            <div id="iconos" class="d-flex justify-content-start">
                <a href="https://www.linkedin.com/company/buff-health/" target="_blank">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a href="" target="_blank">
                    <i class="bi bi-instagram"></i>
                </a>
                <a href="" target="_blank">
                    <i class="bi bi-facebook"></i>
                </a>
                <a href="mailto:example@example.com">
                    <i class="bi bi-envelope"></i>
                </a>
            </div>
        </div>
        <!--<div>
            <p>Idioma</p>
            <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione un idioma</option>
                <option value="Ingles">Ingles</option>
                <option value="Portugués">Portugués</option>
                <option value="Italiano">Italiano</option>
            </select>
        </div>-->
        <div>
            <p class="mb-2"><strong>Visión General</strong></p>
    
            <p>Home</p>
            <p>Proyección</p>
            <p>Sobre nosotros</p>
            <p>Contacto</p>
            
        </div>
    </div>
    <div class="" style="display: flex; justify-content: space-between; padding-left: 3%; padding-right: 3%; gap: 80px;">
        <div></div>
        <div>
            <strong>&reg; 2024 - 2024 Buff Health SpA</strong>
        </div>
        <div></div>
    </div>
</mat-card>
